.bgGray {
    position: fixed;
    background-color: #EEF2F7;
    height: 100vh;
    width: 100vw;
}

.containerButtons {
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  min-height: 200px;
  width: 50vw;
  margin: 10% auto;
  padding: 20% auto;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.welcomeText {
    flex: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.formBox {
    flex: 5;
    display:flex;
    flex-flow:column;
    justify-content: space-around;
    width: 40%;
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.activate {
    background-color: #04AA6D;
    border-radius: 0.5em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: large;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-shadow: none;
    border: none;
    color: white;
    padding: 10px;
    margin: 10% auto;
}

.activate:hover {
    background-color: rgb(128, 211, 128);
    box-shadow: 5px 4px 2.2px rgba(0, 0, 0, 0.034);
}



.bodyText {
    text-align: center;
    font-weight: 600;
    margin: 5% auto
}

.link {
    display: block;
    text-align: center;
    border-radius: 0.5em;
    padding:10px;
    margin-bottom: 5%;;
    text-decoration: none;
    background-color: lightgrey;
    color: black;
}

.link:hover {
    background-color: lightslategray;
    box-shadow: lightgrey;
    z-index: 2;
}